.Loader {
  --blockSize: 2em;
  --delay: 0.065s;
  --duration: 0.88s;
  --startingColor: #fdfdfd;
  --endingColor: #dadada;
  --blockMargin: calc(var(--blockSize) / 3);
  --loaderSize: calc(var(--blockSize) * 3 + var(--blockMargin) * 2);
  width: var(--loaderSize);
  height: var(--loaderSize);
}

.Loader-Block {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  opacity: 0;
  width: var(--blockSize);
  height: var(--blockSize);
  background: var(--startingColor);
  animation: show 0.88s step-end infinite alternate,
    pulse 0.88s linear infinite alternate;
}

/* Second */
.Loader-Block:nth-child(1) {
  transform: translate(0, 0);
  animation-delay: var(--delay);
}

/* Ninth */
.Loader-Block:nth-child(2) {
  transform: translate( calc( var(--blockSize) + var(--blockMargin)), 0);
  animation-delay: calc(2 * var(--delay));
}

/* Fourth */
.Loader-Block:nth-child(3) {
  transform: translate( calc( calc(var(--blockSize) * 2) + calc(var(--blockMargin) * 2)), 0);
  animation-delay: calc(3 * var(--delay));
}

/* Sixth */
.Loader-Block:nth-child(4) {
  transform: translate(0, calc(var(--blockSize) + var(--blockMargin)));
  animation-delay: calc(5 * var(--delay));
}

/* // Third */
.Loader-Block:nth-child(5) {
  transform: translate(calc(var(--blockSize) + var(--blockMargin)), calc(var(--blockSize) + var(--blockMargin)));
  animation-delay: calc(2 * var(--delay));
}

/* // Eighth */
.Loader-Block:nth-child(6) {
  transform: translate(
    calc( calc( var(--blockSize) * 2) + calc( var(--blockMargin) * 2)),
    calc(var(--blockSize) + var(--blockMargin))
  );
  animation-delay: calc(7 * var(--delay));
}

/* // Seventh */
.Loader-Block:nth-child(7) {
  transform: translate(0, calc( calc(var(--blockSize) * 2) + calc(var(--blockMargin) * 2)));
  animation-delay: calc(6 * var(--delay));
}

/* // Fifth */
.Loader-Block:nth-child(8) {
  transform: translate(
    calc(var(--blockSize) + var(--blockMargin)),
    calc( calc( var(--blockSize) * 2) + calc((var(--blockMargin) * 2)))
  );
  animation-delay: calc(4 * var(--delay));
}

/* // First */
.Loader-Block:nth-child(9) {
  transform: translate(
    calc( calc(var(--blockSize) * 2) + calc(var(--blockMargin) * 2)),
    calc( calc(var(--blockSize) * 2) + calc(var(--blockMargin) * 2))
  );
}

@-webkit-keyframes pulse {
  from,
  40% {
    background: var(--startingColor);
  }
  to {
    background: var(--endingColor);
  }
}

@-webkit-keyframes show {
  from,
  40% {
    opacity: 0;
  }
  41%,
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  from,
  40% {
    background: var(--startingColor);
  }
  to {
    background: var(--endingColor);
  }
}

@keyframes show {
  from,
  40% {
    opacity: 0;
  }
  41%,
  to {
    opacity: 1;
  }
}
