.Loader {
  --delay: 0.065s;
  --duration: 0.88s;
  width: var(--loaderSize, 100px);
  height: var(--loaderSize, 100px);
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 5px;
}

.Loader_colorscheme_light {
  --endingColor: #767676;
  --startingColor: #676767;
}
.Loader_colorscheme_dark {
}

.Loader-Block {
  opacity: 0;
  background: var(--startingColor, #fdfdfd);
  animation: show 0.88s step-end infinite alternate,
    pulse 0.88s linear infinite alternate;
}

/* Second */
.Loader-Block:nth-child(1) {
  animation-delay: var(--delay);
}

/* Ninth */
.Loader-Block:nth-child(2) {
  animation-delay: calc(2 * var(--delay));
}

/* Fourth */
.Loader-Block:nth-child(3) {
  animation-delay: calc(3 * var(--delay));
}

/* Sixth */
.Loader-Block:nth-child(4) {
  animation-delay: calc(5 * var(--delay));
}

/* // Third */
.Loader-Block:nth-child(5) {
  animation-delay: calc(2 * var(--delay));
}

/* // Eighth */
.Loader-Block:nth-child(6) {
  animation-delay: calc(7 * var(--delay));
}

/* // Seventh */
.Loader-Block:nth-child(7) {
  animation-delay: calc(6 * var(--delay));
}

/* // Fifth */
.Loader-Block:nth-child(8) {
  animation-delay: calc(4 * var(--delay));
}

/* // First */
/* .Loader-Block:nth-child(9) {} */

@keyframes pulse {
  from,
  40% {
    background: var(--startingColor, #fdfdfd);
  }
  to {
    background: var(--endingColor, #dadada);
  }
}

@keyframes show {
  from,
  40% {
    opacity: 0;
  }
  41%,
  to {
    opacity: 1;
  }
}
