.Card {
    font-size: 18px;
    background-color: #EFF2F7;
    border-radius: 3px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    position: relative;
    transition: 0.6s;
    transform-style: preserve-3d;
}

.Card_view_single {
    height: 70vh;
}

.Card_toggleable .Card__front,
.Card_toggleable .Card__back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0
}

.Card_toggleable .Card__back {
    transform: rotateY(180deg);
}

.Card_toggleable.Card_show_source {
    transform: rotateY(180deg);
}

.Card__vs {
    font-style: italic;
    text-align: right;
    width: 100%;
}

.Card_view_single .Card__vs {
    text-align: center;
}

.Card__vs::before {
    content: "("
}
.Card__vs::after {
    content: ")"
}