.Card {
    display: flex;
    flex-direction: column;
    background-color: #EFF2F7;
    border-radius: 3px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5%;
}

.Card_view_single {
    height: 60vh;
}

.Card_show_text .Card__vs {
    display: none;
}

.Card_show_source .Card__vt {
    display: none;
}

.Card__vs {
    font-style: italic;
    text-align: right;
    width: 100%;
}

.Card__vs::before {
    content: "("
}
.Card__vs::after {
    content: ")"
}