.scramble__results {
  border: 2px dashed;
  min-height: 90px;
  background: #fff;
  border-radius: 1rem;
}

.word-list {
  display: flex;
  gap: 0.4rem;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 14px;
}

.scramble__words {
  border-radius: 1rem;
  background-color: rgb(248 250 252);
}
