.Card {
    font-size: 18px;
    background-color: #EFF2F7;
    border-radius: 3px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
@media (min-width: 38rem) {
    .Card {
      font-size: 20px;
    }
  }
  @media (min-width: 67.5rem) {
    .Card {
        font-size: 30px;
    }
  }

.Card_view_single {
    height: 70vh;
}

.Card_show_text .Card__vs {
    display: none;
}

.Card_show_source .Card__vt {
    display: none;
}

.Card__vs {
    font-style: italic;
    text-align: right;
    width: 100%;
}

.Card_view_single .Card__vs {
    text-align: center;
}

.Card__vs::before {
    content: "("
}
.Card__vs::after {
    content: ")"
}