.container {
  margin: 10px;
}

.container_align_justify {
  display: flex;
  justify-content: space-between;
}

.ListItem {
  padding: 8px var(--gutter);
  width: 100%;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  text-decoration: none;
}