:root {
  /* color scheme */
  --color-theme: #3f51b5;
  --color-text: #34495e;
  --color-text-inverse: #fff;
  --color-success-bg: #dff2bf;
  --color-success-fg: #270;
  --color-warning-bg: #ffda60;
  --color-warning-fg: #000;
  --color-error-bg: #ff3b00;
  --color-error-fg: var(--color-text-inverse);

  /* Отступ между элементами */
  --gutter: 16px;
  --container--width: 800px;
  --container--offset: 24px;
}

html, body, #⚛️, .App {
  height: 100%;
  margin: 0;
  padding: 0;
}
